################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/x64/Debug
/.vs
/Debug/Thor.tlog
/Debug/basic_data.obj
/Debug/vc142.pdb
/Debug/vc142.idb
/Debug/Thor.pdb
/Debug/Thor.obj
/Debug/Thor.ilk
/Debug/Thor.exe
/x64/Release
